body {
    background-image: url("./images/regal.png")

}

.jumbotron {
    background-image: url("./images/candle_sunset.jpg");
    background-size: auto;
}

.box {
    /*background-image: url("./images/pink_rice.png");*/
    padding: 10px;
    border: 2px solid gray;
    color: rgba(245, 131, 150, 0.911);
}
