body {
    background-image: url("./images/regal.png")

}

.jumbotron {
    background-image: url("./images/orange.jpg");
    background-size: 930px 379px;
    color: #fff;
    border: 2px solid gray;
}

.box {
    padding: 10px;
    border: 2px solid gray;
    background-color: #af5c6af1;
    margin-bottom: 10px;

} 

.btn-primary {
    background-color: #af5c6af1;
   color: gray;
   border: 1px solid #fff;

}

#submit {
    background-color: #af5c6af1;
    color:#fff;
    border: 1px solid gray;
}

h1 {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.modal-content {
    background-image: url("./images/regal.png")
}

.modal-title {
    font-family: 'Times New Roman', Times, serif;
}

#match-name {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#match-img {
    border: 2px solid gray;
} 